@media (max-width:1024px) 
{
     .pos_table td{
        width: 50%;
    }    

    .description{ 
    min-height: 170px; 
    }
    .title{
        font-size: 17px;
    }
    .desc-text {
        width: auto;
    }
    .sub_dec {
        min-height: 107px;
    }
}



    @media (max-width:992px)
     {
        .description {
         min-height: 150px;
        }
        .conversation {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .desc-text {
            min-height: 100px;
        }

    }

    @media (max-width:767px) 
{
    .desc-text {
         font-size: 10px;
         width: auto;
         min-height: 145px;
         
    }
    .title {   
        width: auto;
        font-size: 14px;
    }
    
    .sub_dec{
        width: auto;
        font-size: 10px;
    }
    .tools_title {
        width: auto;
        font-size: 11px;
    }
    .tools_desc {
        width: auto;
        font-size: 10px;
    }
    
    .description {
        width: auto;
        min-height: 100px;
        max-height: 100px;
    }
    .Position_Section {   
        width: auto;
    }
    .sub_section {  
        width: auto;
        padding-top: 0;
        max-height: 100px;
 
    }
   
    .sub_dec_name {
        font-size: 11px;
    }
    .pos_table {
        width: 90% !important;
    }
    .u_list{
        font-size: 12px;
    }
   
}
