@media (max-width:1024px) 
{
    .pos_table td{
        width: 48%;
    }   

    .description{ 
    min-height: 177px; 
    }
    .title{
        font-size: 17px;
    }
    .desc-text {
        width: auto;
    }
}



    @media (max-width:992px)
     {
        .description {
         min-height: 150px;
        }
        .conversation {
            padding-top: 50px;
            padding-bottom: 50px;
        }

    }

    @media (max-width:767px) 
{
    .desc-text {
         width: 100%;
         min-height: 145px;
         font-size: 12px;
    }
    .title {   
        width: 100%;
        font-size: 14px;
    }
    .sub_dec_name { 
        width: 100%;   
    }
    .sub_dec{
        width: 100%;
        font-size: 12px;
    }
    .tools_title {
        width: 100%;
        font-size: 14px;
    }
    .tools_desc {
        width: 100%;
        font-size: 12px;
    }
    
    .description {
        width: 94%;
        min-height: 130px;
        max-height: 100px;
    }
    .Position_Section {   
        width: 100%;
    }
    .sub_section {  
        width: 100%;
    }
    .sub_dec { 
        font-size: 14px;
    }
    .sub_dec_name {
        font-size: 14px;
    }
    .pos_table {
        width: 90% !important;
    }
    .u_list{
        font-size: 12px;
    }
   
}
