
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .mars_section {
            /* The image used */
            background-image: url("../src/images/mars1.jpg");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .h1_tag {
            margin-top: 0;
            margin-bottom: 0;
            color: white;
        }

        .game_pad {
            width: auto;
            background-color: rgba(8,8,8, .5);
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 15px;
            border-radius: 50%;


        }

        span {
            color: black;
        }

        #btn_left,
        #btn_right,
        #btn_up,
        #btn_down {
            background-color: #000026;
            color: white;
            padding: 13px 16px;
            text-align: center;
            text-decoration: none;
            font-size: 10px;
            border: none;
        }

        .button_up {
            width: auto;
            text-align: center;
            margin-bottom: 10px;
        }

        .button_center {
            width: auto;
        }

        .button_left {
            width: auto;
            float: left;
            margin-right: 30px;
        }

        .button_right {
            width: auto;
            float: right;
            margin-left: 30px;
        }

        .bottom{
            width: auto;
            text-align: center;
            margin-top: 60px;
        }

       


.info_section{
            width: auto;
            /* background-color: rgba(8,8,8, .5); */
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 15px;
            /* border-radius: 50%; */
}
   
  #myDIV {
    width: 25%;
    padding: 50px 0;
    text-align: center;
    background-color: rgba(8,8,8, .5);
    color: white;
    /* margin-top: 20px; */
    display: none;
  }
  
  .info_btn{
      width: auto;
  }