.top-header{
    width: 100%;
}
.contact_div{
    width: 100%;
    text-align: end;
    padding-top: 30px;
}


.faEnvelope{
    color: #EC295B;
    font-size: 15px;
    display: inline-block;
}
.contact_div a{
    text-decoration: none;
    color: #EC295B;
   
}
.maill{
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    padding-right: 30px;
}
