.first_logo_section,.center_section,.end_section{
    width: 30%;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.end_section img{
    width: 30px;
}
.first_logo_section{
    text-align: left;
}
.end_section{
    text-align: right;
}
.inner_header{
    border-bottom: 1px solid #DBDBDB;
}
.logo_name{
    color: #EC295B;
}
.innerlogo{
    width: 100px;
    height: 60px;
}




@media (max-width:767px) {
    .innerlogo{
        width: 70px;
        height: 30px;
    
    } 
}