.Header_Component{
    padding-top: 35px;
}
.Postion_Component{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
    
   
    
}
.pos_table{
    border-radius: 25px;
    box-shadow: 5px 10px #888888;  
}
    


.pos_table,td{
    /* border-style:solid; */
    border: 2px solid;
     border-radius: 5px;
    border-color: gray; 
    
    border-collapse: collapse;
    width:40%;
    margin: 0 auto;
    
}

.pos_table td{
    border-radius: 25px;
    vertical-align: top;
}
.contact_footer{
    padding-top: 40px;
    padding-bottom: 40px;
}

.Footer_Component{
    padding-top: 80px;
}
