@media (max-width:1024px) {

    .logo_div {
        width: 25%;
    }
    
    .End-Section {
      
        vertical-align: top;
        padding-top: 20px;
    }
}

@media (max-width:992px) {
  
    .logo_div {
        width: 20%;
        
    }
    .logo_name{
        font-size: 13px;
    }
   
    .button_hello{ 
    padding: 7px 11px; 
    font-size: 10px; 
    }
    .mail_chimp{
        font-size: 10px;
    }
}


@media (max-width:767px) {
    .image_sec{
        width: 70px;
        height: 30px;
    
    } 
    .End-Section{
        padding-top: 0px;
    }
}