@font-face
{
    font-family: 'EurostileBold';
    src: url('../../fonts/EurostileBold.ttf') ;
}


* {
    box-sizing: border-box;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
  }  

  .project_msg_follow textarea{
      height: 100px;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color: white;
    color: #EC295B;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border :1px solid #EC295B;
    /* float:right; */
    font-family: 'EurostileBold';
    font-size: 20px;
  }
  .project_row_button{
      /* align-items: center; */
      /* width: 33.3333; */
    /* box-sizing: border-box; */
    /* clear: both; */
    /* font-size: 1rem; */
    /* position: relative; */
    text-align: right;
    
    
  }
  input[type=submit]:hover {
    background-color: #EC295B;
    color: white;
  }

  .project_container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    
  }
  /* .contact_container{ 
    flex: none;
  }
/*  */
  .project_center_box{
      margin: 0 auto;
  }
  .your_name{
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: 'EurostileBold';
    text-align: left;
    font-size: 20px;
    color: #747A8B;
  }
  .name_follow{
    float: left;
    width: 40%;
    margin-top: 6px;
  }
  .project_email{
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: 'EurostileBold';
    text-align: left;
    font-size: 20px;
    color: #747A8B;
  }
  .project_email_follow{
    float: left;
    width: 40%;
    margin-top: 6px;
  }

  .project_type{
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: 'EurostileBold';
    text-align: left;
    font-size: 20px;
    color: #747A8B;
  }

  .project_type_follow{
    float: left;
    width: 40%;
    margin-top: 6px;
  }

  .project_budget{
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: 'EurostileBold';
    text-align: left;
    font-size: 20px;
    color: #747A8B;
  }

  .project_budget_follow{
    float: left;
    width: 40%;
    margin-top: 6px;
  }

  .project_budget_follow option{
    color: #747A8B;
  }

  .project_type_follow option{
    color: #747A8B;
  } 
  .project_section_msg{
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: 'EurostileBold';
    text-align: left;
    font-size: 20px;
    color: #747A8B;
  }
  .project_msg_follow{
    float: left;
    width: 40%;
    margin-top: 6px;
  }
  .project_row:after {
    content: "";
    display: table;
    clear: both;
  }

  .project_title h1{
    font-weight: 400;
    color: #141c3a;
  }
  .project_title {
    line-height: 1.125;
    font-family: 'EurostileBold';
    font-size: 20px;
    /* word-wrap: break-word; */
  }

  select{
      color: #EC295B;
      box-shadow: none;
      font-weight: 300;
  }
  /* .a h1{ 
    word-wrap: break-word;
  }
  */

  #name_error,#email_error,#type_error,#message_error{
    color: #EC295B;
    font-size: 14px;
    font-weight: bold;
    transform: translateY(200%);
    
  }